<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">

        <table>
            <tr>
                <th>User Name</th>
                <td><input type="text" class="form-control" id="usernm" [(ngModel)]="user.userName"></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" class="form-control" id="usernm" [(ngModel)]="user.password"></td>
            </tr>
            <tr>
                <th></th>
                <td><button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button></td>
            </tr>
        </table>

    </div>
</div>